
@import '../../sass/helpers';

.radio-button {
  $radio-button: &;

  cursor: pointer;
  text-align: center;
  user-select: none;

  &:hover &__label {
    color: $primary-text-color;
  }
 
  &__input {
    position: absolute;
    left: -9999px;
    opacity: 0;

    &:checked ~ #{$radio-button}__label {
      color: $primary-text-color;
    }
  }

  &__label {
    display: inline-block;
    transition: 0.2s color;
    color: $text-faded;
  }
}