@import '../../sass/helpers';

$padding: 7px;
$font-size-radio-button: 14px;
$padding-x-radio-button: 7px;
$padding-y-radio-button: 3px;

.language-switcher {
  margin: 0 auto;
  padding: em($padding);

  .radio-button {
    padding: em($padding-y-radio-button, $font-size-radio-button) em($padding-x-radio-button, $font-size-radio-button);
    font-size: em($font-size-radio-button);

    &:hover .radio-button__label,
    .radio-button__input:checked ~ .radio-button__label {
      color: $secondary-text-color;
    }
  }

  .sliding-underline {
    background-color: $secondary-text-color;
  }
}